body {
    margin: 0;
    padding: 0;
}
.largeBlackText {
    font-size: 32px;
    font-weight: 700;
}
.blackItalicParagraphText {
    font-style: italic;
    margin-bottom: 10px;
    color: black;
}
.blueHiderLinkThing {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.list {
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.listitem {
    text-indent: 10px;
}
.highlightedBlackText {
    font-weight: bold;
    color: blue;
    display: inline;
}
.note {
    color: aqua;
    background: blue;
    padding: 10px
}
